
<% content_for :header_tags do %>
  <%= stylesheet_link_tag "index.css", :plugin => "redmine_nikoca_re" %>
<% end %>

<table class="username">
  <thead>
    <tr>
      <th>ユーザ名</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr class="<%= cycle('odd', 'even') %>">
        <td class="yyy"><%= link_to_user(user) %></td>
      </tr>
    <% end %>
    <tr class="<%= cycle('odd', 'even') %>">
      <td class="yyy team_row"><%= l(:team_feeling) %></td>
    </tr>
</table>

<table class="calender">
  <thead>
    <tr>
      <% first_day = true %>
      <% @days.each do |date| %>
        <% date_tag(date) %>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr class="<%= cycle('odd', 'even') %>">
      <% @days.each do |date| %>
        <td class="yyy"><% link_comment_face_tag(@project, @niko_faces[user.name][date.day]) %></td>
      <% end %>
      </tr>
    <% end %>

    <tr class="<%= cycle('odd', 'even') %>">
    <% @days.each do |date| %>
      <td class="yyy team_row"><% feeling_tag(@team_feelings[date.day]) %></td>
    <% end %>
    </tr>
  </tbody>
</table>


