
<% content_for :header_tags do %>
  <%= stylesheet_link_tag "index.css", :plugin => "redmine_nikoca_re" %>
<% end %>

<table class="nikocale">
  <thead>
    <tr>
      <th class="username"><%= l(:field_user) %></th>
      <th>
        <table class="calender">
        <tr>
				<% date_tag(Date.today, true) %>
				<th class="today_comment"><%= l(:label_comment_plural) %></th>
        </tr>
        </table>
      </th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr class="<%= cycle('odd', 'even') %>">
        <td class="yyy"><%= link_to_user(user) %></td>
        <td class="yyy">
          <table class="calender">
          <tr>
						<% face = @niko_faces[user.name][Date.today.day] %>
						<td class="today_face">
							<% link_face_tag(@project, face) %>
						</td>
						<td class="today_comment">
							<% if face != nil %>
								<%= face.comment != '' ? face.comment : l(:no_comment) %>
								<%= content_tag(:span, "#{l(:field_comment)}: #{face.responses.size}#{l(:comment_unit)}", class: "responseinfo") %>
							<% end %>
						</td>
          </tr>
          </table>
        </td>
      </tr>
    <% end %>
    <tr class="team_row">
      <td><%= l(:team_feeling) %></td>
      <td>
        <table class="calender">
        <tr>
					<% feeling = @team_feelings[Date.today.day] %>
					<td class="today_face">
						<% concat(feeling_tag(feeling)) %>
					</td>
				<td class="today_comment">
				</td>
        </tr>
        </table>
      </td>
    </tr>
</table>


