<style type="text/css">
<!--
table.username{
  width: 15%;
  float: left;
  overflow: visible;
  border: 1px solid #e4e4e4;
  border-collapse: collapse;
}
table.calender{
  width: 80%;
  table-layout: fixed;
  overflow: visible;
  border: 1px solid #e4e4e4;
  border-collapse: collapse;
}
table.username th{
  background-color:#EEEEEE;
}
table.calender th{
  background-color:#EEEEEE;
}
table.username td{
  padding: 0;
  height: 40px;
  text-align: center;
  vertical-align: middle;
}
table.calender td{
  padding: 0;
  border-right: solid 1px #eeeeee;
  height: 40px;
  text-align: center;
  vertical-align: middle;
}
.saturday{
  color: #0000FF;
}
.sunday{
  color: #FF0000;
}
.arrow_box{
  display: none;
  position: absolute;
  width: 100px;
  padding: 6px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  background: #F8F8A0;
  text-align: left;
}
.arrow_box:after{
  position: absolute;
  bottom: 100%;
  left: 30%;
  width: 0;
  height: 0;
  margin-left: -10px;
  border: solid transparent;
  border-color: rgba(51, 51, 51, 0);
  border-bottom-color: #F8F8A0;
  border-width: 10px;
  pointer-events: none;
  content: " ";
}
span:hover + .arrow_box{
  display: block;
}
span.responseinfo{
  font-size: 80%;
  color: #808080;
}
//-->
</style>

<div class="contextual">
    <%= link_to_if_authorized(l(:label_conditions_new), 
                                {:action => 'new', :project_id => @project}, 
                                :class => 'icon icon-add') %>
</div>

<h2>メンバーの気分</h2>
<table class="username">
  <thead>
    <tr>
      <th>ユーザ名</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr class="<%= cycle('odd', 'even') %>">
        <td class="yyy"><%= link_to_user(user) %></td>
      </tr>
    <% end %>
</table>

<table class="calender">
  <thead>
    <tr>
      <% @days.each do |date| %>
        <% if date.wday == 0  %>
          <th class="sunday"><%= date.day %></th>
        <% elsif date.wday == 6 %>
          <th class="saturday"><%= date.day %></th>
        <% else %>
          <th><%= date.day %></th>
        <% end %>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr class="<%= cycle('odd', 'even') %>">
      <% @days.each do |date| %>
        <% face = @niko_faces[user.name][date.day] %>
        <td>
        <% if face != nil %>
          <% face_icon = {1 => 'good.png', 2 => 'normal.png', 3 => 'bad.png'} %>
          <% feeling_label = {1 => :good, 2 => :normal, 3 => :bad} %>
          <% feeling = face.feeling %>
          <span><%= link_to(image_tag(face_icon[feeling], :plugin => 'nikoca_re', :width => "32", :height => "32", 
                            :alt => l(feeling_label[feeling])),project_niko_face_path(@project, face.id)) %></span>
          <div class="arrow_box">
            <%= (face.comment != '') ? face.comment : '(空)' %>
            <% if !face.responses.empty?%>
              <br />
              <span class="responseinfo">
                <%= "コメント: #{face.responses.size}件" %>
              </span>
            <%end%>
          </div>
        <% end %>
        </td>
      <% end %>
      </tr>
    <% end %>
  </tbody>
</table>


