<div class="contextual">
    <%= link_to_if_authorized(l(:label_conditions_new), 
                                {:action => 'new', :project_id => @project}, 
                                :class => 'icon icon-add') %>
</div>
<h2>ニコニコカレンダー</h2>
<br style="clear:both;" />
<div class="contextual">
<% if @mode == "calendar" %>
<%= link_to("1日表示", project_niko_faces_mode_path(@project, "today")) %>
<% else %>
<%= link_to("カレンダー表示", project_niko_faces_mode_path(@project, "calendar")) %>
<% end %>
</div>
<br style="clear:both;" />

<% if @mode == "calendar" %>
<div class="backnumber">
  <%= link_to('<< 古いカレンダーへ', project_niko_faces_backnumber_path(@project, 1)) %>
</div>
<%= render :partial => 'niko_faces/calender' %>
<% else %>
<%= render :partial => 'niko_faces/today' %>
<% end %>
