<div class="contextual">
<% if User.current.id == @niko_face.author.id %>
<%= link_to(l(:button_edit),
    edit_project_niko_face_path(@project, @niko_face.id),
    :class => 'icon icon-edit') %>
<%= link_to(l(:button_delete),
    project_niko_face_path(@project, @niko_face.id),
    :confirm => l(:text_are_you_sure),
    :method => :delete,
    :class => 'icon icon-del') %>
<% end %>
</div>
<h2><%= @niko_face.date.to_s %>の気分</h2>
<p class="author">
<%= authoring @niko_face.created_at, @niko_face.author %>.
<% if @niko_face.created_at != @niko_face.updated_at %>
<%= l(:label_updated_time, time_tag(@niko_face.updated_at)).html_safe %>.
<% end %>
</p>
<div class="wiki">
<% face_icon = {1 => 'good.png', 2 => 'normal.png', 3 => 'bad.png'} %>
<% feeling_label = {1 => :good, 2 => :normal, 3 => :bad} %>
<% feeling = @niko_face.feeling %>
<%=  image_tag(face_icon[feeling], :plugin => 'redmine_nikoca_re', :width => "64", :height => "64", :alt => l(feeling_label[feeling])) %>
<%= textilizable(@niko_face, :comment) %>
</div>

<br />

<div id="comments" style="margin-bottom:16px;">
<h3 class="comments"><%= l(:label_comment_plural) %></h3>
<% @niko_face.responses.each do |response| %>
  <p><%= authoring response.created_at, response.author %>.</p>
  <p><%= response.comment %></p>
  <br />
<% end %>
<div class="box">
<h4>コメント投稿フォーム</h4>
<%= form_for @niko_response, {:url => project_niko_face_niko_responses_path(@project, @niko_face)} do |f| %>
  <%= error_messages_for 'niko_response' %>
  <div><%= f.text_area :comment, {:cols => 80, :rows => 3} %></div>
  <%= f.submit l(:button_create) %>
<% end %>
</div>
</div>
